:root {
    --grid-gutter-x-desktop: 16px;
    --grid-gutter-x-mobile: 5px;
}

.layout-with-centered-content {
    display: grid;
    grid-template-columns: auto 100% auto;
    grid-template-rows: auto;
    grid-template-areas: 'left main right';
    margin: 0 15px 0 15px;
}

.main-container {
    position: relative;
    padding-right: var(--grid-gutter-x-mobile);
    padding-left: var(--grid-gutter-x-mobile);
}

.main-container {
    grid-column: main;
}

.mb-40 {
    margin-bottom: var(--space-40);
}

@media screen and (min-width: 720px) {
    .layout-with-centered-content {
        margin: 0 64px 0 64px;
    }

    .main-container {
        padding-right: var(--grid-gutter-x-desktop);
        padding-left: var(--grid-gutter-x-desktop);
    }

    .mb-72 {
        margin-bottom: var(--space-72);
    }
}

/* Large-sized devices (min-width: 1000px) */
@media (min-width: 1200px) {
    .mb-104 {
        margin-bottom: var(--space-104);
    }
}
