:root {
    --grid-gutter-x-mobile: 1.6rem;
}

.layout-with-centered-content {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 100% 1fr;
    grid-template-areas: 'left main right';
}

.main-container {
    position: relative;
    padding-right: var(--grid-gutter-x-mobile);
    padding-left: var(--grid-gutter-x-mobile);
}

.main-container {
    grid-column: main;
}

.mb-72 {
    margin-bottom: var(--space-72);
}

@media (min-width: 576px) {
    .layout-with-centered-content {
        --grid-gutter-x-mobile: 3.2rem;
        grid-template-columns: 1fr 540px 1fr;
    }
}

@media (min-width: 768px) {
    .layout-with-centered-content {
        grid-template-columns: 1fr 720px 1fr;
    }
}

@media (min-width: 992px) {
    .layout-with-centered-content {
        grid-template-columns: 1fr 960px 1fr;
    }
}

@media (min-width: 1200px) {
    .layout-with-centered-content {
        grid-template-columns: 1fr 1140px 1fr;
    }

    .mb-104 {
        margin-bottom: var(--space-104);
    }
}

@media (min-width: 1400px) {
    .layout-with-centered-content {
        grid-template-columns: 1fr 1320px 1fr;
    }

    .mb-104 {
        margin-bottom: var(--space-104);
    }
}
