.cardWrapper {
    border-radius: 4px;
    display: inline-block;
    max-width: 100%;
}

.image {
    display: block;
    width: 142px;
    height: 184px;
    border-radius: 4px;
    max-width: 100%;
    object-fit: cover;
}

@media screen and (min-width: 720px) {
    .image {
        width: 406px;
        height: 336px;
    }
}
