.cardWrapper {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.cardWrapper:hover {
    transform: scale(0.99);
    transition: ease-in-out 0.2s;
}

.cardWrapper:hover .cardDescription {
    padding-left: var(--space-8);
    transition: ease-in-out 0.2s;
}

.cardDescription {
    transition: ease-in-out 0.2s;
}

.imageWrapper {
    position: relative;
    margin-bottom: var(--space-12);
    flex-grow: 1;
}

.image,
.bigImage {
    display: block;
    border-radius: 4px;
    max-width: 100%;
    object-fit: cover;
}

.image {
    width: 100%;
    height: 184px;
}

.bigImage {
    width: 100%;
    height: 284px;
}

.nameOverlay {
    color: var(--color-white);
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-bold);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50.72%, rgba(0, 0, 0, 1) 100%);
    padding: var(--space-12);
    border-radius: 4px;
}

.recipeName {
    white-space: normal;
    overflow: hidden;
}

@media screen and (min-width: 720px) {
    .image {
        width: 100%;
        height: 300px;
    }

    .nameAndDescription {
        display: flex;
        flex-direction: column;
        padding-top: var(--space-12);
        text-wrap: wrap;
    }

    .dietType {
        font-size: var(--font-size-xs);
        font-weight: var(--font-weight-semi-bold);
        color: #87877b;
        padding-bottom: var(--space-8);
    }

    .recipeName {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: var(--space-12);
    }

    .bigImage {
        width: 100%;
        height: auto;
        max-height: 344px;
    }
}
