:root {
    --color-background: #f5fbff;

    --color-body: #1c2419;

    --color-white: #fff;
    --color-gray-100: #ccc;
    --color-gray-300: #dbded1;
    --color-gary-500: #a1a1a1;

    --color-blue-100: #ebf7ff;
    --color-blue-300: #b8e1ff;

    --color-ecru: #e4c686;

    --color-beige: #f1f5d8;

    --color-green-800: #1c2419;
    --color-green-900: #131811;
}
