:root {
    --color-background: #f5fbff;

    --color-body: #1c2419;

    --color-white: #fff;
    --color-gray-100: #ccc;

    --color-light-blue: #ebf7ff;

    --color-dark-green: #131811;

    --color-ecru: #e4c686;
}
