@font-face {
    font-family: 'Revonza'; /*Can be any text*/
    src: url('../../fonts/Revonza.ttf') format('truetype');
}

:root {
    --font-family-revonza: Revonza;
    --font-family-expo: 'expo-serif-pro', serif;
    --font-family-default: var(--font-family-expo);
    --font-family-title: var(--font-family-revonza);

    --font-weight-light: 300;
    --font-weight-regular: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;

    --font-size-xs: 0.875rem;
    --font-size-body: 1rem;
    --font-size-20: 1.25rem;
    --font-size-24: 1.5rem;
    --font-size-28: 1.75rem;
    --font-size-36: 2.25rem;
    --font-size-mobile-title: 3rem;

    --line-height-body: 1.5rem;

    --letter-spacing-title: 0.1rem;
    --letter-spacing-subtitle: 0.2rem;
}
