.landingContainer {
    height: 100vh;
}

.landingTitleContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 80%;
    justify-content: center;
}

.title {
    font-size: var(--font-size-mobile-title);
    padding-bottom: 36px;
}

.subtitle {
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-subtitle);
    font-size: var(--font-size-xs);
}

.subtitleContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.trait {
    width: 20%;
    height: 1px;
    background-color: var(--color-body);
}

.point {
    width: 8px;
    height: 8px;
    background-color: var(--color-body);
    border-radius: 4px;
    padding: 0 4px;
}

.scrollDown {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: flex-end;
}

@media screen and (min-width: 720px) {
    .title {
        font-size: 96px;
        padding-bottom: 90px;
    }

    .trait {
        width: 25%;
    }

    .subtitle {
        font-size: var(--font-size-body);
    }
}
