.headerLayout {
    display: flex;
    flex-direction: row;
    gap: var(--space-20);
}

.mainRecipe {
    flex: 1;
}

.recipeColumn {
    display: flex;
    flex-direction: column;
    gap: var(--space-20);
    flex: 1;
}
