.carousel {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.carousel::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.carousel {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.innerCarousel {
    display: flex;
}

/* To make sure image is not smaller than */
.image {
    min-width: 142px;
}

/* To make sure image is not smaller than */
.bigImage {
    min-width: 218px;
}

.image:not(:last-child),
.bigImage:not(:last-child) {
    margin-right: 10px;
}

@media screen and (min-width: 720px) {
    .image {
        min-width: 406px;
    }

    .image:not(:last-child) {
        margin-right: var(--space-32);
    }
}
