.nameAndDescription {
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dietType {
    padding-bottom: var(--space-4);
    font-style: italic;
}

.recipeName {
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-semi-bold);
    padding-bottom: var(--space-16);
}
